/node_modules
google_fonts.txt
/data/categories/top10k_build
/data/top10000_categorized.csv
/fonts-index-api/package.json
/fonts-index-api/package-lock.json
/fonts-index-api/worker-configuration.d.ts
*.csv
